<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增耗材领用')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-receiveList-add">
            <input name="contypeid" type="hidden" id="treeId"/>
            <div class="form-group">    
                <label class="col-sm-3 control-label">耗材：</label>
                <div class="col-sm-8">
                	<div class="input-group">
	                	<input name="name" onclick="selectConTypeTree()" id="treeName" type="text" placeholder="请选择归耗材类型" class="form-control" required>
	                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                	</div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领用人：</label>
                <div class="col-sm-8">
                    <input name="receiveuser" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领用数量：</label>
                <div class="col-sm-8">
                    <input name="receivenum" class="form-control" type="number" min="1" max="5" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
<!--     <th:block th:include="include :: datetimepicker-js" /> -->
    <script type="text/javascript">
        var prefix = ctx + "csm/receiveList"
        $("#form-receiveList-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add/0", $('#form-receiveList-add').serialize());
            }
        }
        
        /*耗材领用管理-新增-选择类型树*/
        function selectConTypeTree() {
        	var treeId = $("#treeId").val();
        	var conTypeId = $.common.isEmpty(treeId) ? "12" : $("#treeId").val();
			var url = ctx + "csm/type/selectConTypeTree/" + conTypeId;
			var options = {
				title: '选择耗材',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		/*耗材领用管理-新增-选择类型树*/
        function selectConTypeTree() {
        	var treeId = $("#treeId").val();
        	var conTypeId = $.common.isEmpty(treeId) ? "12" : $("#treeId").val();
			var url = ctx + "csm/type/selectConTypeTree/" + conTypeId;
			var options = {
				title: '选择耗材',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
   			$("#treeId").val(body.find('#treeId').val());
   			$("#treeName").val(body.find('#treeName').val());
   			layer.close(index);
		}
		
//         $("input[name='receivetime']").datetimepicker({
//             format: "yyyy-mm-dd",
//             minView: "month",
//             autoclose: true
//         });
    </script>
</body>
</html>